<mat-toolbar class="header">
    <span>
        <a routerLink="/">
            <img class="logo" src="assets/img/logo.png" alt="logo">
        </a>
    </span>
    <span>
        <a routerLink="/">
            <h1>AUTOSOFT - OS</h1>
        </a>
    </span>
    <button class="config" mat-raised-button [matMenuTriggerFor]="menu">Maicon Cardoso</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/register">Configurações de usuario</button>
        <button mat-menu-item (click)="openDialog()">Sair do sistema</button>
    </mat-menu>

</mat-toolbar>