<mat-toolbar class="header">
    <span>
        <a>
            <img class="logo" src="assets/img/logo.png" alt="logo">
        </a>
    </span>
    <span>
        <a>
            <h1>AUTOSOFT</h1>
        </a>
    </span>
    <mat-expansion-panel class="config">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Usuario Logado
            </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="register">Registrar novo usuario</a>
        <a mat-list-item routerLink="logout">Sair do sistema</a>
    </mat-expansion-panel>
</mat-toolbar>