.body {
    background-color: #f1f1f2;
}
.body h1 {
    color:#4876FF;
}
form {
    text-align: center;
}
.form-login {
    background-color: white;
    width: 400px;
    text-align: center;
    padding: 60px;
    margin: 100px auto;
    box-shadow: 3px 2px 2px 2px rgba(0,0,0,0.3);
}
input {
    display: flex;
    padding: 15px;
    margin: 20px;
    width:335px;
    border: 0.1px solid rgba(99, 97, 97, 0.3);
}
.btn-login{
    background-color: #4876FF;
    color: white;
    padding: 5px;
    width:100px;
}