<mat-card>
    <mat-card-title class="card-title">Novo Cliente</mat-card-title>
    <form>
        <mat-form-field class="form-line">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Ex. Jóse da Silva">
        </mat-form-field>
        <mat-form-field class="form-line">
            <mat-label>Whatsapp</mat-label>
            <input matInput placeholder="Ex. (44) 99222-2222">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Telefone</mat-label>
            <input matInput placeholder="Ex. (44) 3055-2222">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. josedasilva@gmail.com">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Cidade</mat-label>
            <input matInput placeholder="Ex. Paranavaí - PR">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Endereço</mat-label>
            <input matInput placeholder="Ex. Rua Jóse Lupiom, 337 - Jardim Asa Branca">
        </mat-form-field>
    </form>
    <button mat-raised-button class="btn-save">
        Salvar
    </button>
    <button mat-raised-button class="btn-cancel">
        Cancelar
    </button>
</mat-card>