<h1>Ordem de Serviço</h1>
<mat-card class="card">
    <button mat-raised-button (click)="addClient()">Adicionar Cliente</button>
</mat-card>
<mat-card class="card">
    <button mat-raised-button color="primary">Adicionar Serviço</button>
</mat-card>
<mat-card class="card">
    <button mat-raised-button color="warn">Adicionar Peças</button>
</mat-card>

<mat-card class="cardTable">
  <table>
    <th>Clientes</th>
    <tr>
      <td>Nome do Cliente</td>
    </tr>
    <th>Serviços</th>
    <tr>
      <td>Serviço prestado 1</td>
      <td>valor</td>
    </tr>
    <tr>
      <td>Serviço prestado 2</td>
      <td>valor</td>
    </tr>
    <tr>
      <td>Serviço prestado 3</td>
      <td>valor</td>
    </tr>
    <th>Peças</th>
    <tr>
      <td>Peça nº 1</td>
      <td>valor</td>
    </tr>
    <tr>
      <td>Peça nº 2</td>
      <td>valor</td>
    </tr>
    <tr>
      <td>Peça nº 3</td>
      <td>valor</td>
    </tr>
  </table>
      
</mat-card>
<mat-card>
    <p>
        Valor Total: R$ 1000,00
    </p>
</mat-card>
