<mat-card>
    <mat-card-title class="card-title">Novo Fornecedor</mat-card-title>
    <form>
        <mat-form-field class="form-line">
            <mat-label>Nome</mat-label>
            <input matInput >
        </mat-form-field>
        <mat-form-field class="form-line">
            <mat-label>Whatsapp</mat-label>
            <input matInput >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Telefone</mat-label>
            <input matInput placeholder="Ex. (44) 3055-2222">
        </mat-form-field>
        <mat-form-field>
            <mat-label>CPF</mat-label>
            <input matInput placeholder="Ex. 085.636.972-10">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. josedasilva@gmail.com">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Cidade</mat-label>
            <input matInput placeholder="Ex. Paranavaí - PR">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Endereço</mat-label>
            <input matInput placeholder="Ex. Rua Jóse Lupiom, 337 - Jardim Asa Branca">
        </mat-form-field>
        <mat-form-field>
            <mat-label>CEP</mat-label>
            <input matInput placeholder="Ex. 850261206">
        </mat-form-field>
    </form>
    <button mat-raised-button class="btn-save" >
        Salvar
    </button>
    <button mat-raised-button class="btn-cancel" (click)="cancel()">
        Cancelar
    </button>
</mat-card>