<mat-card>
    <mat-card-title class="card-title">Excluir Peça</mat-card-title>
    <form>
        <mat-form-field>
            <mat-label>Nome da Peça</mat-label>
            <input matInput 
            [(ngModel)]= "product.name" name = 'name'
            placeholder="Ex. Bronzina de Biela">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Código</mat-label>
            <input matInput 
            [(ngModel)]= "product.cod" name = 'cod'
            placeholder="Ex. 0457896">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Quantidade</mat-label>
            <input matInput 
            [(ngModel)]= "product.amount" name = 'amount'
            placeholder="Ex. 10">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Valor</mat-label>
            <input matInput 
            [(ngModel)]= "product.price" name = 'price'
            placeholder="Ex. 120.00">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Marca</mat-label>
            <input matInput 
            [(ngModel)]= "product.brand" name = 'brand'
            placeholder="Ex. METAL LEVE">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Modelo Motor</mat-label>
            <input matInput 
            [(ngModel)]= "product.modelMotor" name = 'modelMotor'
            placeholder="Ex. AP 2.0">
        </mat-form-field>

    </form>
    <button mat-raised-button color="warn" (click)="deleteProduct()">
        Excluir
    </button>
    <button mat-raised-button class="btn-cancel" (click)="cancel()">
        Cancelar
    </button>
</mat-card>