<div class="mat-elevation-z8">
    <table mat-table class="full-width-table" matSort [dataSource]="providers">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
  
      <ng-container matColumnDef="whatsapp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Whatsapp</th>
        <td mat-cell *matCellDef="let row">{{row.whatsapp}}</td>
      </ng-container>
  
      <ng-container matColumnDef="fone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefone</th>
        <td mat-cell *matCellDef="let row">{{row.fone}}</td>
      </ng-container>
  
      <ng-container matColumnDef="cnpj">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>cnpj</th>
        <td mat-cell *matCellDef="let row">{{row.cnpj}}</td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>
  
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cidade</th>
        <td mat-cell *matCellDef="let row">{{row.city}}</td>
      </ng-container>
  
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Endereço</th>
        <td mat-cell *matCellDef="let row">{{row.address}}</td>
      </ng-container>

      <ng-container matColumnDef="cep">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CEP</th>
        <td mat-cell *matCellDef="let row">{{row.cep}}</td>
      </ng-container>
  
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <a routerLink="/provider/update/{{ row.id }}" class="edit">
            <i class="material-icons">
              edit
            </i>
          </a>
          <a routerLink="/provider/delete/{{ row.id }}" class="delete">
            <i class="material-icons">
              delete
            </i>
          </a>
        </td>
  
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">  </mat-paginator>
  </div>