<div class="mat-elevation-z8">
    <table mat-table class="full-width-table" matSort [dataSource]="users">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
  
      <ng-container matColumnDef="nick">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Apelido/login</th>
        <td mat-cell *matCellDef="let row">{{row.nick}}</td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>
  
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <a routerLink="/register/update/{{ row.id }}" class="edit">
            <i class="material-icons">
              edit
            </i>
          </a>
          <a routerLink="/register/delete/{{ row.id }}" class="delete">
            <i class="material-icons">
              delete
            </i>
          </a>
        </td>
  
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">  </mat-paginator>
  </div>